/*
 _
//\
V  \
 \  \_
  \,'.`-.
   |\ `. `.
   ( \  `. `-.                        _,.-:\
    \ \   `.  `-._             __..--' ,-';/
     \ `.   `-.   `-..___..---'   _.--' ,'/
      `. `.    `-._        __..--'    ,' /
        `. `-_     ``--..''       _.-' ,'
          `-_ `-.___        __,--'   ,'
             `-.__  `----"""    __.-'
                  `--..____..--'
*/


.relative {position:relative;}
.floatl{float: left;}
.floatr{float: right;}
.txtr{text-align: right;}
.margL{
    margin-left: 50px;
}
.margR{
    margin-right: 50px;
}


/*Start of Structure CSS */
.body{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Roboto', sans-serif;
}
.window {
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.doc{
    position: relative;
    background-color: rgb(221, 229, 238);
}
/*End of Structure CSS*/


/*Start of Bar CSS*/
.header {
    position: relative;
    width:100%;
    height:60px;
    background-color: rgb(221, 229, 238);
}
.nav {
    float:right;
    padding:10px;
    width:500px;
}
.links {
    width:10%;
    font-size:30px;
    margin-right:90px;
    font-weight: bold;
    float:right;
    color:black;
    text-decoration: none;

}


.nav a:hover {
    color:rgb(49, 81, 121);

}
.headimg {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30px;
    height: 65%;

}
.headimg img{
    height: 100%;
    width: auto;
}
/*End of Bar CSS */


/*Start of Home Page Picture CSS */
.main {
    position: relative;
    width:100%;
    margin-top:0px;
    background-color: rgb(158, 176, 196);
    outline: black solid 4px;
}
.Atxtcontainer{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35vw;
    transform: translate(-50%, -50%);
}
.welcome{
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: black 3px 3px 4px;
}
.container{
    position: relative;
    width: 40vw;
}
.container img{
    height: auto;
    Width:100%;
}
.Agradient {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 200px;
    background-image: linear-gradient(to top, rgba(255,0,0,0)75%, rgb(0, 0, 0)105%);
}
.Bgradient {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0)75%, rgb(0, 0, 0)105%);
}
/*End of Home Page Picture CSS */



/*Start of gallery CSS */
.Ggallery{
    position: relative;
    width: 75%;
    margin: 0 auto;
    margin-top: 200px;

}
.gallery{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    width: 100%;
}
.Scontainer{
    display: inline-grid;
    position: relative;
    width: 15vw;
    margin-left: 5vw;
    margin-bottom: 2vw;

}
.Scontainer img{
    Height:auto;
    Width:100%;
    border: black solid 2px;
}
.explorecontainer{
    z-index: 1;
    position: absolute;
    top: 57.5%;
    left: 50%;
    width: 35vw;
    transform: translate(-50%, -50%);
}
.exploreG{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 50px;
    background: rgb(255 255 255 / 50%);
}
.Gtitle{
    font-size: 40px;
    font-weight: bold;
    margin-left: 4%;
    margin-bottom: 20px;
    margin-top: 200px;
}
.Gsubtitle{
    font-size: 20px;
    text-align: center;
}

/*End of Gallery CSS*/


/*Start of Footer CSS*/
.footer{
    position: relative;
    margin-top: 150px;
    height: 150px;
    padding: 25px 20%;
    background-color: rgb(41, 42, 44);
    border-top: black solid 4px;
}
.Fsection{
    width: 40%;
    height: 100%;
    float: left;
    background-color: rgb(41, 42, 44);
    margin-right: 5%;
    font-size: 16px;
}
.Ftitle{
    color: white;
    text-align: center;
    font-size: 2em;
    text-shadow: black 4px 4px 3px;
}
.Ftxt{
    color: white;
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: black 4px 4px 3px;
    text-align: center;
}
.copyright{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-shadow: black 4px 4px 3px;
    font-size: .7em;
    text-align: center;
    margin-bottom: 3px;
}
/*End of Footer CSS*/

.txtcontainer{
    margin: 0 auto;
    margin-top: 40px;
    width: 50vw;
    font-size: 20px;
}

.paragraph{
    text-align: center;
}.construction{
     position: absolute;
     top: -40px;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
 }
.construction img{
    top: 0;
    height: 100%;
    width: auto;
}
