.relative {position:relative;}
.floatl{float: left;}
.floatr{float: right;}
.txtr{text-align: right;}


/*Start of Structure CSS */
.body{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

}
.window {
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(221, 229, 238);
}
.doc{
    position: relative;
    background-color: rgb(221, 229, 238);
}
/*End of Structure CSS*/


/*Start of Bar CSS*/
.header {
    width:100%;
    height:60px;
    background-color: rgb(221, 229, 238);;
}
.nav {
    float:right;
    padding:10px;
    width:500px;

}
.links {
    width:10%;
    font-size:30px;
    margin-right:90px;
    font-weight: bold;
    float:right;
    color:black;
    text-decoration: none;

}


.nav a:hover {
    color:rgb(49, 81, 121);

}



.headtext {
    position:absolute;
    color:black;
    font-style: bold;
    margin:0;
    padding:0px;
    font-size:2.7vw;
    font-weight: 500;
    text-align: left;

}
/*End of Bar CSS */


/*Start of Home Page Picture CSS */
.main {
    position: relative;
    width:100%;
    margin-top:0px;
    background-color: rgb(158, 176, 196);
    outline: black solid 4px;
}
.Atxtcontainer{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35vw;
    transform: translate(-50%, -50%);
}
.welcome{
    text-align: center;
    color: white;
    font-size: 40px;
    text-shadow: black 3px 3px 4px;
}
.container{
    position: relative;
    width: 40vw;
    margin:0 50px;
}
.container img{
    Height:auto;
    Width:100%;
}
.Agradient {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 200px;
    background-image: linear-gradient(to top, rgba(255,0,0,0)75%, rgb(0, 0, 0)105%);
}
.Bgradient {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0)75%, rgb(0, 0, 0)105%);
}
/*End of Home Page Picture CSS */



/*Start of Highlights CSS */
.highlights{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    margin-top: 200px;
    width: 75%;
}
.Scontainer{
    display: inline-grid;
    position: relative;
    width: 15vw;
    margin-left: 5vw;
    margin-bottom: 2vw;

}
.Scontainer img{
    Height:auto;
    Width:100%;
    border: black solid 2px;
}
.explorecontainer{
    z-index: 1;
    position: absolute;
    top: 57.5%;
    left: 50%;
    width: 35vw;
    transform: translate(-50%, -50%);
}
.exploreG{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 50px;
    text-shadow: black 3px 3px 10px;
}
/*End of Highlights CSS*/


/*Start of Footer CSS*/
.footer{
    margin-top: 150px;
    padding: 25px 0;
    background-color: rgb(41, 42, 44);
    border-top: black solid 4px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Fsection{
    background-color: rgb(41, 42, 44);
    font-size: 16px;
    max-width: 500px;
}
.Ftitle{
    color: white;
    text-align: center;
    font-size: 2em;
    text-shadow: black 4px 4px 3px;
}
.Ftxt{
    color: white;
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: black 4px 4px 3px;
    text-align: center;
}
/*End of Footer CSS*/

.txtcontainer{
    margin: 0 auto;
    margin-top: 40px;
    width: 50vw;
    font-size: 20px;
}

.paragraph{
    text-align: center;
}.construction{
     position: absolute;
     top: -40px;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
 }
.construction img{
    top: 0;
    height: 100%;
    width: auto;
}
