/*
 _
//\
V  \
 \  \_
  \,'.`-.
   |\ `. `.
   ( \  `. `-.                        _,.-:\
    \ \   `.  `-._             __..--' ,-';/
     \ `.   `-.   `-..___..---'   _.--' ,'/
      `. `.    `-._        __..--'    ,' /
        `. `-_     ``--..''       _.-' ,'
          `-_ `-.___        __,--'   ,'
             `-.__  `----"""    __.-'
                  `--..____..--'
*/

.l{left: 5px;}
.r{right: 5px;}
.relative {position:relative;}
.floatl{float: left;}
.floatr{float: right;}
.txtr{text-align: right;}
.margL{ margin-left: 50px;}
.margL4{margin-left: 4%;}
.margR{margin-right: 50px;}
.margT{margin-top: 25px;}



/*Start of Structure CSS */
.body{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Roboto', sans-serif;
}
.window {
    position:absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.doc{
    position: relative;
    background-color: rgb(221, 229, 238);
}
/*End of Structure CSS*/


/*Start of Bar CSS*/
.header {
    position: relative;
    height:60px;
    background-color: rgb(221, 229, 238);
}
.flex{
    height: 93%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex1{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.nav {
    width: 300px;
    display: flex;
    justify-content: space-evenly
    
}
.links {
    width:10%;
    margin-right: 10px;
    font-size:30px;
    font-size: clamp(1rem, 2vw, 1.875rem);
    font-weight: bold;
    color:black;
    text-decoration: none;
}
.header a:hover {
    color:rgb(49, 81, 121);

}
.flex1 a:hover {
    color:rgb(49, 81, 121);

}
.headimg {
    margin-left: 30px;
    max-width: 200px;


}
.headimg img{
    width: 100%;
    height: auto;
}
/*End of Bar CSS */


/*Start of Home Page Picture CSS */
.main {
    position: relative;
    width:100%;
    margin-top:0px;
    background-color: rgb(158, 176, 196);
    outline: black solid 4px;
}
.mainflex{
    display: flex;
    justify-content: space-around;
}
.Atxtcontainer{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35vw;
    transform: translate(-50%, -50%);
}
.welcome{
    text-align: center;
    color: white;
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    text-shadow: black 3px 3px 4px;
}
.container{
    position: relative;
    width: 40vw;
    object-fit: cover;
}
.container img{
    Width:100%;
    height: 25vw;
    object-fit: cover;
}
.Agradient {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 200px;
    background-image: linear-gradient(to top, rgba(255,0,0,0)75%, rgb(0, 0, 0)105%);
}
.Bgradient {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0)75%, rgb(0, 0, 0)105%);
}
/*End of Home Page Picture CSS */



/*Start of gallery CSS */
.Ggallery{
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;

}
.gallery{
    position: relative;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px 0;
    margin: 0 auto;
    width: 100%;
}
.gallery3{
    position: relative;
    display: grid;
    justify-content: space-evenly;
    grid-gap: 40px 0;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    width: 75%;
}
.Scontainer{
    justify-items: center;
    position: relative;
    width: 15vw;
}
.Scontainer .container{
    position: relative;
    width: 100%;
    height: 15vw;
    margin-bottom: 10px;
}
.Scontainer .container img{
    Height:100%;
    Width:100%;
    border: black solid 3px;
    object-fit: cover;
    cursor:pointer;
}
.Scontainer img{
    height: 15vw;
    Width:100%;
    border: black solid 3px;
    object-fit: cover;

}
.explorecontainer{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35vw;
    transform: translate(-50%, -50%);
}
.exploreG{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.centertxt{
    text-align: center;
}
.Gtitle{
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 200px;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}
.Gsubtitle{
    font-size: clamp(.3rem, 1vw, 1.5625rem);
    text-align: center;
}
.BigBackgroundHidden{
    display: none;
}
.BigBackground{
    display: flex;
    position:fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.904);
    z-index: 100;
}
.BigFrame{
    position:absolute;
    background-color: white;
    padding: 20px;
}
.BigContainer{
    position: relative;
    cursor:pointer;
}
.BigContainer img{
    max-width: 50vw;
    max-height: 90vh;
}
.topbutton{
    position: fixed;
    bottom: 25px;
}
.topbutton a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-size: clamp(.5rem, 1vw, 1.25rem);
}
/*End of Gallery CSS*/


/*Start of Footer CSS*/
.footer{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
    margin-top: 150px;
    padding: 25px 25px;
    background-color: rgb(41, 42, 44);
    border-top: black solid 4px;
}
.Fsection{
    width: 700px;
    height: 100%;
    float: left;
    background-color: rgb(41, 42, 44);
    font-size: 16px;
}
.Ftitle{
    color: white;
    text-align: center;
    font-size: 2em;
    text-shadow: black 4px 4px 3px;
}
.Ftxt{
    color: white;
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: black 4px 4px 3px;
    text-align: center;
}
.copyright{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(170, 170, 170);
    font-size: .55em;
    text-align: center;
    margin-bottom: 2px;
}
/*End of Footer CSS*/


/*Start of About CSS*/
.para {
    font-size: clamp(.5rem, 1vw, 1.25rem);
    color:rgb(228, 228, 228);
    text-shadow: rgb(61, 61, 61) 4px 4px 3px;
}
.Atitle{
    font-size:25px;
    font-size: clamp(.75rem, 1.25vw, 1.5625rem);
    color:white;
    text-shadow: black 4px 4px 3px;
    margin-bottom: 10px;
}
.box{
    width: min(25%, 500px);
    margin-top:50px;
    padding:50px;
    background-color: rgb(89, 97, 117);
    box-shadow: rgb(158, 158, 158) 4px 4px 3px;
    
}
.flex2 {
    display:flex;
    justify-content: space-around;
}
/*End of About CSS*/


.construction{
    position: absolute;
    top: -40px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.construction img{
   top: 0;
   height: 100%;
   width: auto;
}


